hopsworks[python]==4.1.*
huggingface-hub==0.29.3
matplotlib==3.10.1
neptune==1.13.0
neptune_tensorflow_keras==2.2.2
numpy
pandas
pydantic-settings==2.8.1
pytest
pytest-cov
python-dotenv
scikit-learn==1.6.1
tensorflow==2.19.0
twofish
yfinance==0.2.54
git+https://github.com/marcus-24/Stock-Predictor-Feature-Store